body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FAFD;
  color: #060A15;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
}

a:not(.grupo):hover {
  background-color: #8E6BD6;
}

input {
  border-radius: 8px;
}

.nav {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: #A08CDF;
  padding: 16px;
}

.left {
  float: left;
  padding: 4px;
}

.right {
  float: right;
  padding: 4px;
}

.button {
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: lightgray;
}